.page-header {
    display: flex;
    align-items: center;
    border-bottom: var(--border-width) solid var(--border-color) !important;
    width: 100%;
    height: 83px;
    justify-content: space-between;
}


.page-header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: var(--jakarta);
    border-right: var(--border-width) solid var(--border-color);
}