.approve-btn {
    box-shadow: none !important;
    background: #625ce6;
    color: white;
    width: 134px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
}

.approve-btn:hover {
    background: #625ce6 !important;
    color: white !important;
}

.reject-btn {
    width: 122px;
    height: 38px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 4px !important;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 600;
    font-family: "Plus Jakrat Sans", sans-serif;
    transition: all 0.2s ease;
}

.buttons-main {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.reject-icon {
    font-size: 19px;
}

.custom-tag {
    font-weight: 700;
    font-family: "Plus Jakarta Sans";
}