.approve-btn {
    box-shadow: none !important;
    color: blue;
    width: 134px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    background: #3f3fb1;
    color: white;
}

.approve-btn:hover {
    background: #3f3fb1 !important;
    color: white !important;
}

.approve-btn-danger {
    box-shadow: none !important;
    width: 134px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    background: #b84b4b;
    color: white;
}

.approve-btn-danger:hover {
    background: #b84b4b !important;
    color: white !important;
}

.buttons-main {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.reject-icon {
    font-size: 19px;
}

.custom-tag {
    font-weight: 700;
    font-family: "Plus Jakarta Sans";
}