.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 100vh;
    border-right: 1px solid #DEEAFF;
}

.user-avatar {
    cursor: pointer;
}