.auth-nav-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
}

.auth-nav-logo {
    display: flex;
    align-items: center;
}

.auth-nav-logo img {
    height: 176px;
    width: auto;
    object-fit: contain;
    margin-top: 26px;
}