.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    background: linear-gradient(to bottom,
            #0f172a,
            #0f172a,
            #020617);

    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.04);
}

@media (min-width: 1024px) {
    .sidebar {
        display: flex;
    }
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

.sidebar-main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-title {
    font-weight: 600;
    font-family: "Outfit", "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar-description {
    font-weight: 500;
    font-family: "Outfit", "Inter", sans-serif;
    font-size: 11px;

}

.users-icon {
    font-size: 24px !important;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-body {
    flex: 1;
}

.section-label {
    padding-left: 17px;
    padding-top: 20px;
    padding-bottom: 8px;
}

.sidebar-label {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif !important;
    color: gray;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-items {
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
    overflow-y: auto;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.7;
    color: white;
    font-weight: 500;
}


.sidebar-bottom {
    padding: 20px;
}

.logout-section {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    padding-right: 18px;
    padding-left: 22px;
    padding: 20px 22px;
    gap: 13px;
}

.dashboard-link {
    color: white;
    font-weight: 500;
}

.logout-title {
    font-size: 16px
}

.link-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sidebar-link.active {
    background-color: rgba(0, 123, 255, 0.1);
    color: #4983cf;
}

.sidebar-link.active svg {
    color: #fff !important;
}