
.nav-icon-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    border-bottom: 2px solid rgba(255, 255, 255, .12) !important;
}

.nav-icon {
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.sidebar-footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .12) !important;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-right: 14px;
}

.add-new-chat-icon {
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.logout-icon {
    font-size: 29px;
    padding-right: 3px;
    cursor: pointer;
}



.header-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}


.nav-items-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 29px;
}

.route-label {
    font-family: 'Instrument Sans';
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.nav-items-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}