.add-friend-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    padding-left: 17px;
}

.add-friend-header .page-header {
    display: flex;
    justify-content: left;
    gap: 18px;
    padding-left: 12px;
}


.table-container {
    border-radius: 12px !important;
    display: flex;
    align-items: center;
    border: 1px solid var(--theme-stroke) !important;
    border-color: rgba(212, 212, 212, 0.692) !important;
}

.table-container .ant-table-wrapper {
    width: 100%;
    height: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.table-filters {
    padding: 16px;
}

.table-filters .ant-tabs {
    border-radius: 12px;
    padding: 16px;
}

.table-filters .ant-tabs-tab {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    padding: 10px 20px;
}

.table-filters .ant-tabs-content-holder {
    margin-top: 10px;
}

.ant-table-cell {
    font-family: 'Plus Jakarta Sans' !important;
    font-weight: 600 !important;
}

.add-friend-btn {
    padding: 16px;
    height: 35px;
    border-radius: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: var(--them-primary);
    color: white;
}

.reject-btn {
    height: 36px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #FFD5D5;
}