.add-friend-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-friend-title {
    font-size: 23px;
    font-style: italic;
    color: #0958d9;
}

.back-button {
    color: var(--them-primary);
    background-color: var(--them-white) !important;
    border: 1px solid var(--them-stroke);
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 9px;
}

.add-friend-header .page-header {
    display: flex;
    justify-content: left;
    gap: 18px;
    padding-left: 25px;
}


.table-container {
    border-radius: 12px !important;
    display: flex;
    align-items: center;
    border-color: rgba(212, 212, 212, 0.692) !important;
}

.table-container .ant-table-wrapper {
    width: 100%;
    height: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.table-filters .ant-tabs {
    border-radius: 12px;
    padding: 16px;
}

.table-filters .ant-tabs-tab {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    padding: 10px 20px;
}

.table-filters .ant-tabs-content-holder {
    margin-top: 10px;
}

.ant-table-cell {
    font-family: 'Plus Jakarta Sans' !important;
    font-weight: 600 !important;
}

.add-friend-btn {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #3182ce;
    color: white;
    height: 36px;
}

.avatar-name-main {
    display: flex;
    align-items: center;
    gap: 13px;
}