.empty-chat-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.empty-chat-main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    animation: emptyChatFade 0.8s ease-out;
}

.empty-chat-logo {
    width: 100%;
    max-width: 450px;
    object-fit: contain;
    height: auto;
    animation: logoFloat 3s ease-in-out infinite;

}

.empty-chat-content h1 {
    font-family: var(--jakarta);
    font-weight: 600;
    display: flex;
    gap: 7px;
    margin-bottom: 21px;
    font-style: italic;
}

.text-blue {
    color: blue;
    font-weight: 600;
}

.empty-chat-description {
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    color: #a58181;
    font-weight: 600;
    font-style: italic;
}

.empty-chat-divider {
    content: "";
    transform: translate(-50%);

}

@keyframes emptyChatFade {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes logFloat {
    from {
        opacity: 0;
        transform: scale(0.70);
    }

    to {
        opacity: 1;
        transform: scale(3);
    }
}