.empty-chat-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #6b7280;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
}

.empty-chat-img {
    width: 64px;
    height: 64px;
}

.empty-chat-title {
    font-size: 18px;
}

@media (max-width: 768px) {
    .empty-chat-main {
        display: none;
    }
}