.send-request-btn {
    display: flex;
    width: 154px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 39px;
    border: none;
    box-shadow: none !important;
    background: #625ce6;
    border: none !important;
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.send-request-btn:hover {
    background: #625ce6 !important;
    color: white !important;
}