.profile-modal,
.ant-modal-container {
    width: 400px;
    border-radius: 12px;
    padding: 24px !important;
    color: #FFFFFF;
}

.profile-modal .ant-modal-body {
    padding: 0;
}

.profile-modal-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-details-title {
    font-size: 17px;
    font-weight: 600;
    color: black;
    font-family: "Plus Jakarta Sans";
}

.profile-label {
    color: #777777;
    font-size: 17px;
    font-weight: 500;
    font-family: "Plus Jakarta Sans";
}

.email {
    color: black;
}

.profile-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.online-dot {
    position: absolute;
    right: 4px;
    left: 76px;
    bottom: 9px;
    background: #22C55E;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}


.email-section {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.work-email {
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
}


.message-btn {
    border-radius: 19px;
    padding: 18px;
    width: 300px;
    background: #0059F7;
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
}

.profile-modal .ant-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
    padding: 0;
}

.status-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user-status {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #EF4444;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.status-text.online {
    color: #22C55E;
}

.status-text.offline {
    color: #EF4444;
}

.profile-modal .ant-modal-close {
    background: #F4F8FF;
    border-radius: 50%;
}

.cancel-btn {
    height: 38px;
    width: 400px;
    border-radius: 23px;
}


.profile-modal-header {
    margin-bottom: 20px;
}